<div class = "container-fluid main-wraper">

  <div class = "row header-nav">
    <div class = "col-sm">
      <p id="notice"><%= notice %></p>

        <div class = "row">
          <div class = "col">
            <nav class="navbar navbar-dark bg-light navbar-custom">

              <div class = "btn btn-default">
                <%= link_to groups_path do %>
                  <i class="fa fa-arrow-left"></i>
                <% end %>
              </div>

              <div class = "text-center mb-2">
                <h3><%= @group.name.upcase %> PROJECTS</h3>
                <%= image_tag(@group.icon.url, class: 'gravatar-img') if @group.icon? %>                
              </div>

              <div class="search">
              </div>
              
            </nav> 
          </div> 
        </div>

    </div>
  </div>

  <div class = "row main">
    <div class = "col-sm">
          <% @projects.each do |project| %>
              
              <div class = "mains d-flex">
                <div class = "mains-img pl-3 pr-3">
                  <b>Author: </b><br>
                  <%= project.user.username.capitalize %>
                </div>

                <div class = "mains-details d-flex flex-column ml-3">
                  <div class = ""><%= project.name %></div>
                  <div class = "small-font mt-3"><%= project.created_at %></div>
                </div>

                <div class = "mains-time ml-auto">
                  <%= project.time %> hrs
                </div>

              </div>
          <% end %>
    </div>
  </div>  
  
  <div class = "row aside2 fixed-bottom">
    <div class = "col-sm text-center">
        <%= link_to 'ADD NEW PROJECT', new_project_path, class: 'btn btn-text' %>
    </div>
  </div>

</div>


