<div class = "container-fluid main-wraper">
  
  <div class = "row header-nav pb-3">
    <div class = "col-sm">
      <p id="notice"><%= notice %></p>

        <div class = "row">
          <div class = "col">
            <nav class="navbar navbar-dark bg-light navbar-custom">

              <div class="back-arrow"> 
                <%= link_to login_path do %>
                  <span class = "nav-title">Log In</span>
                <% end %>
              </div>

              <div class="nav-title" href="#">REGISTER</div>

              <div class="search">
              </div>

            </nav> 
          </div> 
        </div>

    </div>
  </div>

  <div class = "row form mt-3">
    <div class = "col-sm">




                    <%= form_with(model: user, local: true) do |form| %>
                      <% if user.errors.any? %>
                        <div id="error_explanation">
                          <h2>Errors</h2>

                          <ul>
                          <% user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                      <% end %>

                        <%= form.text_field :name, class: 'form-control', placeholder: 'Enter Full name' %>

                        <%= form.text_field :username, class: 'form-control', placeholder: 'Enter username' %>

                        <%= form.email_field :email, class: 'form-control', placeholder: 'email@example.com' %>
                      

                      <div class="actions text-center">
                        <%= form.submit 'SUBMIT', class: 'btn btn-default' %>
                      </div>
                    <% end %>
    </div>
  </div>
</div>