<div class = "container main-wraper">
  
  <div class = "row header-nav pb-3">
    <div class = "col-sm">
      <p id="notice"><%= notice %></p>

        <div class = "row">
          <div class = "col">
            <nav class="navbar navbar-dark bg-light navbar-custom">
              <div class="back-arrow">      
                
                <%= link_to projects_path do %>
                  <i class="fa fa-arrow-left"></i>
                <% end %>               
                
              </div>
              <div class="nav-title" href="#">NEW PROJECT</div>

              <div class="search">
                Next
              </div>
            </nav> 
          </div> 
        </div>

    </div>
  </div>

  <div class = "row form mt-3">
    <div class = "col-sm">
                            <%= form_with(model: project, local: true) do |form| %>
                              <% if project.errors.any? %>
                                <div id="error_explanation">
                                  <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

                                  <ul>
                                  <% project.errors.full_messages.each do |message| %>
                                    <li><%= message %></li>
                                  <% end %>
                                  </ul>
                                </div>
                              <% end %>
                              
                              <div class="form-group">
                                <%= form.text_field :name, class: "form-control", placeholder: 'Project name' %>
                              </div>

                              <div class="form-group">
                                <%= form.number_field :time, class: "form-control", placeholder: 'Time taken to complete in hours' %>
                              </div>

                              <div class="form-group">
                                <%= form.text_field :group_list, class: "form-control", placeholder: '1st group, 2nd group, 3rd group 4th ......' %>
                              </div>

                              <div class="actions text-center">
                                <%= form.submit 'Submit', class: 'btn btn-default' %>
                              </div>
                            <% end %>
    </div>
  </div>
</div>